/* Make equation numbers float to the right */
span.eqno {
    float: right;
    margin-left: 5px;
}
/* Hide the link... */
span.eqno a.headerlink {
    visibility: hidden;
    position: relative;
    left: 0px;
    z-index: 1;
}
/* ...unless the equation is hovered */
div.math:hover a.headerlink {
    visibility: visible;
}
