/* Make equation numbers float to the right */
span.eqno {
    float: right;
    margin-left: 0.5em;
}
/* Hide the link and avoid obscuring by math element */
span.eqno a.headerlink {
    visibility: hidden;
    position: relative;
    left: 0px;
    z-index: 1;
}
/* Show if the equation is hovered */
div.math:hover a.headerlink {
    visibility: visible;
}
